.header-wrapper{
    background-color: rgba(0, 0, 0, 0.2);
    height: 60px;
    filter: drop-shadow(30px 10px 4px #000000);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items{
    padding: 0;
    list-style: none;
    display: flex;   
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 30px;
    padding: 0 1rem;
    width: 5rem;
}

.nav-item:hover, a:hover{
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

a{
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
}
