<div class="header-wrapper">
    <nav class="menu">
        <ul class="nav-items">
            <li class="nav-item" (click)="scroll()">
                Projects
            </li>
            <li class="nav-item" href="https://github.com/LucasMonir" (click)="redirect($event.target)">
                Github
            </li>
            <li class="nav-item" href="https://gitlab.com/LucasMonir" (click)="redirect($event.target)">
                Gitlab
            </li>
            <li class="nav-item" href="https://www.linkedin.com/in/lucas-monir-henrique/"
                (click)="redirect($event.target)">
                Linkedin
            </li>
            <li class="nav-item" (click)="copyToClipboard()">
                Contact
            </li>
        </ul>
    </nav>
</div>
