.footer-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    filter: drop-shadow(30px 10px 4px #000000);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
