.about-wrapper{
    margin-top: 5rem;
}

a{
    text-decoration: none;
    color: white;
}

.knowledges-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

h1, p {
    margin: 0;
    padding: 20px;
    color: white;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    width: 20%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
}