<div class="about-wrapper">
    <h1>About me:</h1>
    <div class="about-me">
        <img src="https://avatars.githubusercontent.com/u/55569386?v=4" alt="" class="profile-picture">
        <p>Mid-level programmer, bachelor's degree in Information Systems from UNISUL, pursuing a Gradute's Degree in Information Security,
            with different levels of skills and knowledge in:</p>
        <div class="knowledges-container">
            <app-knowledge name=".NET + Azure" colors="#534A95, white" params="Asp.NET, WebApi, AppService, Storage, Keyvaults, Containers"></app-knowledge>
            <app-knowledge name="Frameworks" colors="#534A95, white" params="React, Angular, Svelte, Node"></app-knowledge>
            <app-knowledge name="Mobile" colors="#715DA1, white" params="ReactNative, Flutter"></app-knowledge>
            <app-knowledge name="GameDev" colors="#534A95, white" params="Unity, Godot"></app-knowledge>
            <app-knowledge name="SQL" colors="#715DA1, white" params="SQL Server, MySQL, PostgreSQL, SQLite"></app-knowledge>
            <app-knowledge name="And more" colors="#534A95, white" params="Java, Python, Arduino, Elixir, Vue"></app-knowledge>
        </div>
        <p>In my free time i am also a Bassist, Guitarrist, Drummer, Linux user and practice Woodworking!</p>
    </div>
</div>
