<div class="projects-wrapper">
    <app-project 
        title="Remote control Drum kit" 
        description="Using the Arduino Uno board, an infrared receptor and a generic TV remote, 
        i programmed some simple commands so when a certain key is pressed the servo will move accordingly to my code."
        link="https://github.com/LucasMonir/Arduino-Projects/blob/master/BateriaRemota/BateriaRemota.ino">
    </app-project>

    <app-project 
        title="Cryptocurrency Prices" 
        description="Using the Binance API, win10toast and notify2, i created a simple Python script to notify me of the prices of my preferred
        cryptocurrencies every 5 minutes through system notifications, works on linux and windows."
        link="https://github.com/LucasMonir/get-crypto-prices">
    </app-project>

    <app-project 
        title="My Site" 
        description="Using Angular and Gitlab hosting i was able to created this new version of my old site (previously made with pure HTML + CSS),
         which is used as a portifolio for my coding and interesting robotic projects."
        link="https://gitlab.com/LucasMonir/my-site">
    </app-project>

    <app-project 
        title="JsArena (Discontinued)" 
        description="I had the opportunity to join a friend of mine in a project named JsArena, which the main idea was to reunite programmers in a 
        skill battle, so they could compete against each other in terms of speed and problem solving using Javascript. The front-end is made using Angular and the back-end using a C# WebAPI."
        link="https://gitlab.com/question-mark/JSArena/">
    </app-project>

    <app-project 
        title="Remote control Flamethrower"
        description="Using a Arduino Uno, a Servo, some pieces of wood and a deodorant flask, i built a 'robot' that would throw flames 
        every time i pressed the middle buttton of the remote control. The first protype ignited the flames by using a candle (Extremely dangerous!),
        the version 2.0 will use some sort of electronic ignition and hopefully it will also be controlled via wifi."
        link="https://github.com/LucasMonir/Arduino-Projects/blob/master/CospeFogo/CospeFogo.ino">
    </app-project>

    <app-project 
        title="Useless Lightswitch" 
        description=" With the concept of The Useless Box in mind, using a LDR sensor and a servo 
        i created this robot to turn off the lights by flipping the switch off every time it was turned on."
        link="https://github.com/LucasMonir/Arduino-Projects/blob/master/ApagaLuz/ApagaLuz.ino">
    </app-project>

    <app-project 
        title="Laser Alarm Clock"
        description="Using the Arduino board, a LDR luminosity sensor and a old toy's laser pointer, i made a simple (and pretty annoying) alarm clock that
        only stops when i shine the laser at the sensor."
        link="https://github.com/LucasMonir/Arduino-Projects/blob/master/Alarm/Alarm.ino">
</app-project>
</div>