<div class="app-wrapper">
    <app-header></app-header>
    <app-about></app-about>
    <app-divisory title="Projects"></app-divisory>
    <app-projects id="scroll-target"></app-projects>
    <app-footer></app-footer>
</div>