.app-wrapper{
    background-image: url("https://gitlab.com/LucasMonir/my-site/-/raw/master/public/assets/images/Dracula.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
