.card {
    color: white;
    /* background-color: rgb(78, 70, 139); */
    background-image: url(../../assets/images/fundo-projetos.png);
    background-repeat: no-repeat;
  background-size: cover;
    background-position: center;
    margin: 0.5rem 0 0 0;
    width: 40vw;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    height: 20rem;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 0px 2px black;
}

.title {
    text-align: center;
}

h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid rgb(218, 218, 218);
}

p {
    text-align: center;
    padding: 0 5%;
    word-wrap: break-word;
    font-size: 1.3rem;
}

.code{
    display: flex;
    justify-content: center;
    bottom: 0px;
}

.show-code{
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #352d75;
    padding: 0.5rem 2rem;
    border: none;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
}

.show-code:hover{
    transition: 0.5s;
    background-color: #534A95;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
}

.project-code {
    text-align: center;
    padding: 0 0 1rem 0;
}

a{
    text-decoration: none;
    color: white;
}

@media (max-width: 800px)
{
    .description p{
        font-size: 1rem;
    }

    .title h1{
        font-size: 1.2rem;
    }

    .card {
        width: 80vw;
    }
}
