<div class="card">
    <div class="title">
        <h1>{{title}}</h1>
    </div>
    <div class="description">
        <img src="" alt="">
        <p>{{description}}</p>
    </div>
    <div class="code">
        <button class="show-code" (click)="toggleCodeVisibility()">
            <a href="{{link}}" target="blank">Go to code</a>
        </button>
    </div>
</div>