.card {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(218, 218, 218);
    margin: 0.5rem 0.5rem;
    text-shadow: 1px 1px 2px black;
}

.title {
    text-align: center; 
    box-shadow: 1px 0px 2px;
    margin-bottom: 1rem;
}

.technologies{
    height: calc(80% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    margin: 0px;
    text-shadow: 3px 3px #000;
}

h4 {
    margin: auto 0%;
    text-align: center;
}