<!-- style="background-color: {{style[0]}};  color: {{style[1]}};" -->
<div class="card" style="background-image: url(../../assets/images/fundo-card.png); color: white">
    <div class="title">
        <h1>{{name}}</h1>
    </div>
    <div class="technologies">
        <h4 *ngFor="let knowledge of subKnowledges; index as i" class="subKnowledge">{{knowledge}}</h4>
    </div>
</div>